@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');
/* constants */
:root{
  --app-blue-1:rgb(0, 50, 97);
  --app-blue-2:rgb(0 50 97 / 77%);
  --app-purple-1:purple;
  --app-purple-2:rgb(128 0 128 / 77%);
  --app-green-1: rgb(24, 140, 86);
  --app-green-2: rgb(24 140 86 / 77%);
  --app-pink-1:rgb(214, 51, 132);
  --app-pink-2: rgb(214 51 132 / 77%);
  --app-background-gradient:linear-gradient(130deg, rgb(0, 64, 124), #9b1b70c2);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: var(--app-background-gradient);
  height: 100vh;
  overflow: hidden;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 24rem;
  padding: 4rem 1rem 1.5rem 1rem;
  background: #fff;
  border-radius:.6rem;
  box-shadow:  6px 8px 20px 0px rgba(0, 0, 0, 0.1);
}
form {
  width: 100%;
}
form h1{
 text-align: center;
 color: var(--app-blue-1);
 margin-bottom: 1.5rem;
}
.input-field-group{
  display: flex;
  flex-wrap: wrap;
}
.group-item{
  flex-grow: 1;
}
.input-field,.group-item{
  position: relative;
  border-radius: 1.5rem;
  padding: 0 .5rem 0 .5rem;
  margin-bottom: 1.25rem;
}

.input-field input,.input-field-group .group-item input{
  font-size: 1rem;
  line-height: 1.2;
  height: 3.8rem;
  color: var(--app-purple-1);
  background: white;
  padding: 0 1rem 0 1rem;
  border-radius: .25rem;
  outline: none;
  border: none;
  box-shadow: .125rem 0rem 2rem 0 #00000026;
}
.input-field input,.group-item input{
  width: 100%;
}
input::placeholder{
  text-shadow:none;
  color: var(--app-blue-1);
}
.submit-btn-container{
  width: 100%;
  display: flex;
  justify-content: center;
}
input[type="submit"] {
  color: #e9f4fb;
  background-color: var(--app-blue-2);
  height: 50px;
  border-radius: 2rem;
  border: none;
  outline: none;
  padding: 0 4rem;
  font-size: 1.25rem;
  cursor: pointer;
  box-shadow: 0 0.5rem 2rem .1rem rgb(0 50 97 / 77%);
  transition: 0.5s;
  margin-top: 1rem;
}

input[type="submit"]:hover {
  background-color: var(--app-purple-2);
  box-shadow: 0 0.5rem 2rem .1rem rgb(128 0 128 / 77%);
}

.thirdParty-authorization-option-title{
  text-align: center;
  margin:2rem 0;
}

.thirdParty-authorization-option-container{
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 4rem;
}
.register-page .thirdParty-authorization-option-container{
  margin-bottom: 2rem;
}
.thirdParty-authorization-option-container a{
  display: flex;
  box-shadow: 0 0.5rem 2rem .1rem rgba(249, 249, 249, 0.737);
  justify-content: center;
  text-decoration: none;
  color: var(--app-blue-1);
  padding: 0.25rem;
  flex-grow: 1;
  border-radius: .25rem;
  border:0.01rem solid var(--app-blue-2);
  position: relative;
}
.authentication-page-links-container{
  margin-top: 2rem;
}
.authentication-page-links-container, .server-messages{
  text-align: center;
  font-size: small;
}
.authentication-page-links-container a{
  font-weight: 100;
  text-decoration: none;
  font-style: italic;
}.server-messages{
  margin-bottom: 1rem;
}
.server-messages .error{
  color: var(--app-pink-1);
}
.server-messages .success{
  color: var(--app-green-1);
}
.authentication-page-links-container .important{
  color: var(--app-purple-2);
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .register-page{
    width: 30rem !important;
  }
}