{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" integrity="sha384-tViUnnbYAV00FLIhhi3v/dWt3Jxw4gZQcNoSCxCIFNJVCx7/D55/wXsrNIRANwdD" crossorigin="anonymous">
    <title>ResuMax</title>
  </head>
  <body>
    <nav class="side-panel" id="side-panel">
      <div class="side-panel-header">
        <h1 class="nav-app-name">ResuMax</h1>
        <button id="close-side-panel-btn" class="side-panel-toggler-btn">☰</button>
      </div>
      <div class="side-panel-body">
        <button id="create-thread-btn">
          <i class="bi bi-plus-circle"></i>
          <span>New Chat</span>
        </button>
        <div id="chat-history-range-container">
          <div class="history-range">
            <h3 class="history-range-title">Today</h3>
            <div class="thread-container">
                  <p class="thread-title">lorem ipsum sit do la mere ipsum sit do la mere
                    <span>
                      <i class="bi bi-trash"></i>
                    </span>
                  </p>
            </div>
          </div>
        </div>
      </div>
      <div class="side-panel-footer">
        {% comment %} Settings and user options {% endcomment %}
        <p>
          <a class="settings-btn" href="{% url 'change-password' %}"><span>Change Password</span></a>
        </p>
        <p>
          <a class="logout-btn" href="{% url 'logout' %}"><span>Logout</span></a>
        </p>
        <p>© 2021 ResuMax</p>
      </div>
    </nav>
    <main class="main-container" id="main-container">
        <nav class="top-navbar">
          <div class="top-navbar-body">
            <button id="open-side-panel-btn" class="side-panel-toggler-btn active">☰</button>
            <h1 class="nav-app-name active">ResuMax</h1>
            <p>{{ user.username }}</p>
          </div>
        </nav>
        <div class="chat-box" id="chat-box">
          <!-- sample message user and bot messages
          <div class="message user-message">
            some
          </div>
          <div class="message bot-message">
          </div>
           -->
        </div>
        <!-- user file/text input form-->
        <form class="chat-form" id="prompt-input-form" method="POST" enctype="multipart/form-data">
         {% csrf_token %}
         <input
               type="file"
               name="prompt-file"
               id="file"
               required
               accept=".pdf"
               multiple
               style="display: none"
             />
         <button type="button" id="upload-file-btn">
            <i class="bi bi-paperclip"></i>
          </button>
         <div class="user-input-container">
           <div id="input-files-preview-container" class="files-preview-container">
            <!-- sample file icon container
             <div class="file-icon-container">
                <i class="bi bi-file-earmark-pdf file-type-preview-icon"></i>
                <span class="file-name"></span>
                <i class="bi bi-x remove-file-btn"></i>
             </div>
             -->
           </div>
           <textarea type="text" name="prompt-text" id="chat-input-text" placeholder="Type a message..." rows="1"></textarea>
         </div>
         <button type="submit" id="send-btn">
          <i class="bi bi-send"></i>
         </button>
        </form>
    </main>
    <div id="side-panel-backdrop"></div>
    <script src="{% static 'index.js' %}"></script>
  </body>
</html>