{% extends 'base.html' %}
{% load static %}

{% block title %}Change Password{% endblock %}

{% block content %}
<div class="login-register-wrapper">
  <div class="login-register-container">
    <h2>Change Password</h2>
    
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}

    <form method="post">
      {% csrf_token %}
      
      <div class="input-field">
        <input type="password" name="current_password" required placeholder="Current Password"/>
      </div>

      <div class="input-field">
        <input type="password" name="new_password" required placeholder="New Password"/>
      </div>
      
      <div class="input-field">
        <input type="password" name="confirm_password" required placeholder="Confirm New Password"/>
      </div>

      <div class="submit-btn-container">
        <input type="submit" value="CHANGE PASSWORD" />
      </div>
      
      <div class="authentication-page-links-container">
        <p><a class="important" href="{% url 'home' %}">Back to Dashboard</a></p>
      </div>
    </form>
  </div>
</div>
{% endblock %}
