{% extends "base.html" %}

{% block title %}Forgot Password{% endblock %}

{% block content %}
<div class="center forgot-password-page">  
  <form method="POST">
    <h1>Reset Password</h1>

    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'error' %}
                <center><h4 style="color: firebrick;">{{message}}</h4></center>
            {% else %}
                <center><h4 style="color: dodgerblue;">{{message}}</h4></center>
            {% endif %}
        {% endfor %}
    {% endif %}
  
    {% csrf_token %}
    <div class="authentication-page-links-container">Enter your email to get reset password link</div>
    <div class="input-field">
      <input type="email" name="email" required placeholder="Email">
    </div>
    
    <div class="submit-btn-container">
      <input type="submit" value="SEND REQUEST">
    </div>
    <div class="authentication-page-links-container">
      <p>Not a member? <a class="important" href="{% url 'register' %}">Signup</a>
      <p>Remember your Password? <a class="important" href="{% url 'login' %}">Login</a></p> 
    </div>
  </form>
</div>
{% endblock %}