{% extends "base.html" %}
{% load bootstrap_icons %}
{% block title %}Login{% endblock %}
  
{% block content %}
<div class="page-container">
  <div class="main-title">
    <h1>ResuMax</h1>
  </div>
<div class="center">
  
  <form method="POST">
      <h1>Login</h1>
      <div class="server-messages">
        {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'error' %}
                <p class="error">{{message}}</p>
            {% else %}
                <p class="success">{{message}}</p>
            {% endif %}
        {% endfor %}
        {% endif%}
      </div>
      {% csrf_token %}

    <div class="input-field">
      <input type="text" name="username" required placeholder="username or email">
    </div>

    <div class="input-field">
      <input type="password" name="password" required placeholder="password">
    </div>
    <div class="submit-btn-container">
      <input type="submit" value="LOGIN">
    </div>
    <div class="authentication-page-links-container">
      <p>Not a member? <a class="important" href="{% url 'register' %}">Signup</a></p>
      <p>Forgot your password? <a class="important" href="{% url 'forgot-password' %}">Reset it</a></p>
    </div>
  </form>
  </div>
</div>
{% endblock %}