{% extends "base.html" %}
{% block title %}Password Reset Sent{% endblock %}

{% block content %}
<div class="center password-rest-sent-page">
    <form>
      <h1>Reset Sent</h1>

      <div class="authentication-page-links-container">
        <p>A password reset link has been sent to your email. It <b class="important">expires in 30 minutes</b>.</p>
        <p>Remember your credentials? <a class="important" href="{% url 'login' %}">login</a></p>
      </div>
    </form>
  
</div>
{% endblock %}